.main {
  background-color: #eae7e2;
  padding: 150px 75px;
  text-align: center;
  font-family: 'Roboto';
  color: #003366;
  margin: 0;
  border: 6px solid #150631;
}

.title {
  font-family: 'Roboto Slab';
  font-size: 36px;
}

.info {
  margin: 25px;
}

.secondary {
  font-size: 12px;
  margin: 24px;
}

h2 {
  font-size: 16px;
  font-weight: 100;
}

a {
  color: #003366;
  text-decoration: none;
}

a:hover {
  color: #75c9d1;
  text-decoration: underline;
}